{{- if and (eq .chezmoi.os "linux") .user_lustre .group_lustre }}
# Lustre paths for this cluster (set by chezmoi from promptStringOnce)
export USER_LUSTRE="{{ .user_lustre }}"
export GROUP_LUSTRE="{{ .group_lustre }}"
export UV_CACHE_DIR="{{ .user_lustre }}/.cache/uv"
export PIP_CACHE_DIR="{{ .user_lustre }}/.cache/pip"
{{- end }}
